$main-background: var(--main-background);
$toggle-keypad-background: var(--toggle-keypad-background);
$screen-background: var(--screen-background);
$spartan: "Spartan", sans-serif;
$text-logo-output: var(--text-logo-output);
$text-primary: var(--text-primary);
$text-secondary: var(--text-secondary);
$text-teritary: var(--text-teritary);
$primary-key: var(--primary-key);
$primary-key-shadow: var(--primary-key-shadow);
$eq-key: var(--eq-key);
$eq-key-shadow: var(--eq-key-shadow);
$del-reset-key: var(--del-reset-key);
$del-reset-key-shadow: var(--del-reset-key-shadow);
